<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        img { display: block; margin: 0px auto; }
    </style>
</head>
<body>
    {% load static %}
    <center><h1>민원 자동분류 사이트</h1></center>
    <a href="{% url 'inputform'%}">
        <center><button type="button" class="btn_image" id="img_btn">
        <img src="{% static "admin/img/write.png" %}" width="600" alt="민원입력"/></button></center>
    </a>
</body>
</html>