{% extends '__base.html'%} 
{% block title %} Complaint site {% endblock %}
{% block content %}
{% load static %}
    <h1 class="text-primary">민원 자동분류 사이트2 </h1>

    <img src="" alt="이미지버튼" onclick="alert('이미지 button style');"/>
    <button type="button" class="btn_image" id="img_btn">

    <img src="{% static "admin/img/write.jpg" %}" alt="민원입력" /></button>

    <img src="{% static "admin/css/base.css" %}" alt="이전 이벤트 보기" onclick="alert('이미지 arc 경로');"/>
    


{% endblock %}
<!-- {% block script %} js입력할떄 넣으면됨 {% endblock %} -->